.btn {
    &,
    &:link,
    &:visited {
    text-transform:uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s; /* jak chcemy robic animacje to w tym glownym elemencie musi to byc a reszte juz potem w hover i active */
    position: relative;
    font-size:$default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
    }

    &:hover {
        transform:translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2); 
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity:0;
        }
    }
    
    &:active,
    &:focus {
        transform: translate(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2); /* x y rozmycie kolor z opacity */
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }
    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &::after { 
        content:"";
        display: inline-block;
        height: 100%; /*borze btn jako rodzica i od niego bierze wartosci*/
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom 1s ease-out .75s;
        animation-fill-mode: backwards; /* automatycznie przed animacja zastosuje style z zero proc czyli tutaj bedzie opacity zero zeby button dopiero wjechal z animacja zeby go nie bylo wczesniej widac */
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding:3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black,.15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black,.15);
        transform: translateY(0px);
    }

}
